<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v3.0';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="header">
    <div class="container">
        <a class="navbar-brand" href="#">Kierunki PRZ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Lista kierunków <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <div sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/user/home}">Twoja lista</a>
                    </div>
                </li>

            </ul>
            <div sec:authorize="isAnonymous()">
                <a th:href="@{/login}" class="btn btn-outline-success" role="button" aria-pressed="true">Logowanie</a>
                <a th:href="@{/registration}" class="ml-1 btn btn-outline-info" role="button" aria-pressed="true">Rejestracja</a>
            </div>
            <div sec:authorize="isAuthenticated()">
                <a th:href="@{/logout}" class="btn btn-outline-danger" role="button" aria-pressed="true">Wyloguj</a>
            </div>
            <div sec:authorize="hasAuthority('ADMIN')">
                <a th:href="@{/admin/home}" class="ml-1 btn btn-danger" role="button" aria-pressed="true">Admin
                    Panel</a>
            </div>
        </div>
    </div>
</nav>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-8">
                <h2>Zarządzaj użytkownikami</h2>
            </div>
            <div class="container">
                <div class="row mb-4">
                    <div class="col-sm" sec:authorize="hasAuthority('ADMIN')">
                        <a th:href="@{/admin/userList}" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Użytkownicy</a>
                    </div>
                    <div class="col-sm" sec:authorize="hasAuthority('ADMIN')">
                        <a th:href="@{/admin/adminList}" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Administratorzy</a>
                    </div>
                    <div class="col-sm" sec:authorize="hasAuthority('ADMIN')">
                        <a th:href="@{/admin/facultiesList}" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Wydziały i kierunki</a>
                    </div>
                </div>
            </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card-columns">
                <div class="card" th:each="faculty : ${faculties}">

                    <img  class="card-img-top" th:attr="src=${faculty.logo}" alt="Card image cap" border="10">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${faculty.name}">Card title</h5>
                        <h6 class="card-subtitle" th:text="${faculty.address}"></h6>
                        <br>
                        <h6 class="card-subtitle2">Kierunki:</h6>
                        <div th:each="spec : ${specs}">
                            <p th:text="(${spec.faculty.id} eq ${faculty.id}) ? ('    ' + ${spec.name})"></p>
                        </div>
                        <a th:attr="href=${faculty.website}" class="btn btn-primary">Strona wydzialu</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

        <div class="container mt-4">
            <div class="row">
                <div class="col-md-8">
                    <h2>Użytkownicy przypisani do poszczególnych kierunków</h2>

                    <div class="list-group">
                        <div id="accordion">
                            <div class="card" th:each="spec : ${specs}">
                                <div class="card-header" th:id="${spec.name}">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse"
                                                aria-expanded="false"
                                                th:attr="aria-controls='collapse' + ${spec.id}, data-target='#collapse' + ${spec.id}"
                                                th:text="${spec.name}">

                                        </button>
                                    </h5>

                                </div>

                                <div th:attr="id='collapse' + ${spec.id}" class="collapse"
                                     aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        <div th:each="user : ${users}">
                                            <h6 th:text="(${#sets.contains(user.specializations, spec)}) ? ('    ' + ${user.name} + ' ' + ${user.lastName})"></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:text="------------------------------">
                    </div>
                </div>
            </div>
        </div>

</body>
</html>