<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script type="text/javascript">
    function sliderChange(value, id) {
            document.getElementById('slider'+id).innerHTML = value;
        }
    </script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="header">
    <div class="container">
        <a class="navbar-brand" href="#">Kierunki PRZ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Lista kierunków <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <div sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/user/home}">Twoja lista</a>
                    </div>
                </li>
            </ul>
            <div sec:authorize="isAnonymous()">
                <a th:href="@{/login}" class="btn btn-outline-success" role="button" aria-pressed="true">Logowanie</a>
                <a th:href="@{/registration}" class="ml-1 btn btn-outline-info" role="button" aria-pressed="true">Rejestracja</a>
            </div>
            <div sec:authorize="isAuthenticated()">
                <a th:href="@{/logout}" class="btn btn-outline-danger" role="button" aria-pressed="true">Wyloguj</a>
            </div>
            <div sec:authorize="hasAuthority('ADMIN')">
                <a th:href="@{/admin/home}" class="ml-1 btn btn-danger" role="button" aria-pressed="true">Admin
                    Panel</a>
            </div>
        </div>
    </div>
</nav>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-8">
                <h2>Zarządzaj użytkownikami</h2>
            </div>
            <div class="container">
                <div class="row mb-4">
                    <div class="col-sm" sec:authorize="hasAuthority('ADMIN')">
                        <a th:href="@{/admin/userList}" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Użytkownicy</a>
                    </div>
                    <div class="col-sm" sec:authorize="hasAuthority('ADMIN')">
                        <a th:href="@{/admin/adminList}" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Administratorzy</a>
                    </div>
                    <div class="col-sm" sec:authorize="hasAuthority('ADMIN')">
                        <a th:href="@{/admin/facultiesList}" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Wydziały i kierunki</a>
                    </div>
                </div>
            </div>
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Imię</th>
                    <th scope="col">Nazwisko</th>
                    <th scope="col">Email</th>
                    <th scope="col">Ankieta</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="currentUser : ${users}">
                    <th scope="row" th:text="${currentUser.id}"></th>
                    <td th:text="${currentUser.name}"></td>
                    <td th:text="${currentUser.lastName}"></td>
                    <td th:text="${currentUser.email}"></td>
                    <td th:text="${currentUser.didSurvey()}"></td>
                    <td><a th:href="@{/admin/edit/{id}(id = ${currentUser.id})}" th:unless="${currentUser.id}==${user.id}" button type="button" class="btn btn-warning">Edytuj</button></td>
                    <td>
                        <button type="button" class="btn btn-danger" data-toggle="modal" th:attr="data-target='#exampleModal' + ${currentUser.id}" th:unless="${currentUser.id}==${user.id}">Usuń</button>                        
                        <div class="modal fade" th:attr="id = 'exampleModal' + ${currentUser.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Potwierdzenie operacji</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Czy na pewno chcesz usunąć wybranego użytkownika?
                                    </div>
                                    <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Nie</button>
                                            <a th:href="@{/admin/delete(userId=${currentUser.id})}" class="btn btn-danger">Tak</a>
                                    </div>
                                </div>
                            </div>
                        </div></td>
                </tr>
                </tbody>
            </table>


        </div>
    </div>
</div>
</body>
</html>
