<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script type="text/javascript">
    function sliderChange(value, id) {
            document.getElementById('slider'+id).innerHTML = value;
        }
    </script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="header">
    <div class="container">
        <a class="navbar-brand" href="#">Kierunki PRZ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Lista kierunków <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <div sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/user/home}">Twoja lista</a>
                    </div>
                </li>
            </ul>
            <div sec:authorize="isAnonymous()">
                <a th:href="@{/login}" class="btn btn-outline-success" role="button" aria-pressed="true">Logowanie</a>
                <a th:href="@{/registration}" class="ml-1 btn btn-outline-info" role="button" aria-pressed="true">Rejestracja</a>
            </div>
            <div sec:authorize="isAuthenticated()">
                <a th:href="@{/logout}" class="btn btn-outline-danger" role="button" aria-pressed="true">Wyloguj</a>
            </div>
            <div sec:authorize="hasAuthority('ADMIN')">
                <a th:href="@{/admin/home}" class="ml-1 btn btn-danger" role="button" aria-pressed="true">Admin
                    Panel</a>
            </div>
        </div>
    </div>
</nav>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <h2>Wypełnij ankietę:</h2>

            <form action="#" th:action="@{/user/survey}" th:object="${wrapper}" method="post">
                <table class="table">
                    <tbody>
                    <tr th:each="answer, rowStat : ${wrapper.answerList}">
                        <td><p th:text="${answer.question.question}"></p></td>
                        <td><input type="hidden"
                                   th:field="*{answerList[__${rowStat.index}__].id}"
                                   th:value="*{answerList[__${rowStat.index}__].getId()}"
                                   readonly="readonly"/>
                        </td>
                        <td><input type="hidden"
                                   th:field="*{answerList[__${rowStat.index}__].user.id}"
                                   th:value="*{answerList[__${rowStat.index}__].getUser().getId()}"
                                   readonly="readonly"/>
                        </td>
                        <td><input type="hidden"
                                   th:field="*{answerList[__${rowStat.index}__].question.id}"
                                   th:value="*{answerList[__${rowStat.index}__].getQuestion().getId()}"
                                   readonly="readonly"/>
                        </td>
                        <td align="center">0<input type="range" min="0" max="10" value="5" th:attr="id='Status' + ${rowStat.count}" onchange="sliderChange(this.value, this.id)"
                                   th:field="*{answerList[__${rowStat.index}__].value}"
                                   th:value="*{answerList[__${rowStat.index}__].getValue()}"/>10 <br /> <span th:attr="id='sliderStatus' + ${rowStat.count}" th:text="*{answerList[__${rowStat.index}__].getValue()}">0</span>

                        </td>
                        </tr>
                        </tbody>
                </table>
                <button type="submit" class="btn btn-success btn-lg btn-block mb-3">Zapisz ankietę</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>