<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Page</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="header">
	<div class="container">
		<a class="navbar-brand" href="#">Kierunki PRZ</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/}">Lista kierunków <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<div sec:authorize="isAuthenticated()">
						<a class="nav-link" th:href="@{/user/home}">Twoja lista</a>
					</div>
				</li>
			</ul>
			<div sec:authorize="isAnonymous()">
				<a th:href="@{/login}" class="btn btn-outline-success" role="button" aria-pressed="true">Logowanie</a>
				<a th:href="@{/registration}" class="ml-1 btn btn-outline-info" role="button" aria-pressed="true">Rejestracja</a>
			</div>
			<div sec:authorize="isAuthenticated()">
				<a th:href="@{/logout}" class="btn btn-outline-danger" role="button" aria-pressed="true">Wyloguj</a>
			</div>
			<div sec:authorize="hasAuthority('ADMIN')">
				<a th:href="@{/admin/home}" class="ml-1 btn btn-danger" role="button" aria-pressed="true">Admin Panel</a>
			</div>
		</div>
	</div>
</nav>

<div class="container mt-4">
	<div class="row">
		<div class="col-md-12">
			<h3>Panel rejestracyjny</h3>
		</div>

		<div class="col-md-5">
			<div class="panel panel-default" style="margin-top: 33px">
				<div class="panel-body">
					<form autocomplete="off" action="#" th:action="@{/registration}"
						  th:object="${user}" method="post"
						  role="form">
						<fieldset>
							<div class="form-group">
								<label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
									   class="validation-message"></label>
								<input type="text" th:field="*{name}" placeholder="Imie"
									   class="form-control" />
							</div>

							<div class="form-group">
								<label	th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
										  class="validation-message"></label>
								<input type="text" th:field="*{lastName}"
									   placeholder="Nazwisko" class="form-control" />
							</div>
							<div class="form-group">
								<input type="text" th:field="*{email}" placeholder="Email"
									   class="form-control" />
								<label
										th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
										class="validation-message"></label>
							</div>
							<div class="form-group">
								<input type="password" th:field="*{password}"
									   placeholder="Haslo" class="form-control" />
								<label
										th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
										class="validation-message"></label>
							</div>

							<div class="form-group">
								<button type="submit" class="btn btn-lg btn-success btn-block">Zarejestruj sie</button>
							</div>

							<span th:utext="${successMessage}"></span>

						</fieldset>
					</form>
					<form>
						<div class="row">
							<div class="form-group">
								<div class="col-md-12 control">
									<div class="mt-2">
										Masz juz konto?
										<a th:href="@{/login}">
											Zaloguj sie!
										</a>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>